.productsContainer {
    width:50%;
    height:50%;
    margin: 0 auto;
}

.square {
    padding-bottom: 20%;
    height: 320px;
    width: 250px;
    margin: 1%;
    float:left;
    display:block;
    background-color: white;
    border-radius: 10px;
}

.paginationView {
    background-color: white;
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
}

.bigBox {
    padding-top: 50px;
}

.productName {
    margin-left: 30px;
}

.productPrice {
    margin-left: 30px;
    margin-top: -1px;
}

.botT {
    margin-top: 10px;
    margin-left: 30px;
}

.inspectProductButton {
    margin-left: 185px;
    margin-top: -20px;
}

.sortBox {
    float: left;
    width: 190px;
    margin-left: 5%;
    margin-top: 1%;
}

.sortButton {
    margin-left: 195px;
    margin-top: -34;
}

.frontImage {
    height: 180px;
    width: 250px;
    border-radius: 10px 10px 0px 0px;
}

.frontImage:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}