.container {
    width:50%;
    height:50%;
    margin: 0 auto;
}
.square {
    border:1px solid #000;
    padding-bottom: 20%;
    height: 0;
    width:30%;
    margin:1%;
    float:left;
    display:block;
    background-color: #ffe8e6;
}

.paginationView {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
}


a:visited {
    color: black;
}
